.carousel {
  border: 1px solid hsla(205, 14%, 25%, 1);
  height: 60vh;
  width: 100%;
  border-radius: 4px;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.body {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image {
  object-fit: contain;
  height: 100%;
  flex: 1;
}

.button {
  background: transparent;
  border: none;
  height: 100%;
  display: flex;
}

.buttonRight {
  justify-content: flex-end;
}

.buttonLeft {
  justify-content: flex-start;
}