.carousel {
  border: 1px solid hsla(205, 14%, 25%, 1);
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: transparent;
  display: flex;
  flex-direction: column;
  background-color: #181b1f;
}

.body {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
}

.image {
  object-fit: contain;
  height: 90%;
  padding: 20px;
  flex: 1;
  outline: none;
  border: none;
}

.button {
  background: transparent;
  border: none;
  height: 100%;
  display: flex;
  cursor: pointer;
}

.button:focus {
  outline: 1px solid #7b7d81;
  background-color: #202327;
}

.button:hover {
  background-color: #202327;
}

.buttonRight {
  justify-content: flex-end;
}

.buttonLeft {
  justify-content: flex-start;
}